.search-filter{
    padding: 20px 20px 0 20px;
}
.serach-label-div{
    padding: 0 0 0 17px;
    /* background-color: yellow; */
}
.serach-label{
    /* width: 50px; */
    height: 30px;
    background: #e2dbdd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 19px;
    list-style-type: none;
    display: inline-block;
    margin-right: 12px;
    box-shadow: 2px 2px 12px teal, 11px 12px 21px rgba(0, 0, 0, .1);
}
.serach-label:hover{
    box-shadow: inset 2px 2px 6px rgb(76 67 67 / 57%), inset 10px 6px 20px rgba(0, 0, 0, 0.05);
}
.search-label-active{
    /* background-color: darkkhaki; */
    background-color: teal;
}
.input-div{
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}
.search-sapn{
    font-family: 'FontAwesome';
    font: normal normal normal 14px/1 FontAwesome;
    border-right: 0;
    background-color: #eee;
    padding: 10px;
    border-radius: 4px 0 0 4px;
}
.search-sapn :before{
    padding-right: 4px;
  }
.filter-input{
    width: 97%;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}
input:focus{
    border: 1px solid #fff;
    outline: none;
    /* box-shadow: -1px 3px 6px -1px #0deca4; */
    box-shadow: #2ee4a1 0px 0px 8px
}
.tree-container{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 650px;
    overflow-y: scroll
    /* padding: 20px; */
}
.list-qrcode-container{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    /* background-color: wheat; */

}
.search-qrcode{
    /* position: absolute; */
    width: 280px;
    height: 280px;
    background: white;
    bottom: 0;
    margin-left: 200px;
}
.filter_qrcode{
    position: relative!important;
    left: 12px!important;
    top: 12px!important;
}
.tree-ul{
    padding-left: 30px;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    color: #9DA5AB;
}
.tree-li{
    padding-top: 2px;
    padding-bottom: 2px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #9DA5AB;    
}
.li-display{
    font-family: 'FontAwesome';
    /* display: block; */
}
li a{
    display: inline-block;
}
li a:before{
    padding-right: 4px;
  }
/* ul:hover{
    background-color: teal;
} */
/* li:hover{
    background-color: teal;
} */
.ul-invisible{
    display:none;
}
.active{
    background: rgb(49, 54, 63);
}
/* .ul-visible{
    display:block;
} */
.filter_icon{
    width: 20px;
    height: auto;
    display: inline-block;
    padding-right: 3px;
}


  /* 定义滚动条样式 */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(240, 240, 240, 1);
  }
   
  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, .5);
  }
   
  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    background-color: rgba(240, 240, 240, .5);
  }