.homepage{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    /* background-color: black; */
    font-family: "ITC Avant Garde Gothic Std Medium";
    font-size: 100px;
    /* text-transform: uppercase; */
    /* color: white; */
}
.home-content{
    padding: 20px;
}
.logo{
    position: absolute;
    left: 50%;
    bottom:0;
    margin-left: -20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
    color: white;
}
.ment_btn{
    position: absolute;
    background-color: teal;
    box-shadow: 2px 2px 12px #e2d8dae3, 11px 12px 21px rgba(0, 0, 0, .1);
    border-radius: 4px;
    right: 80px;
    color: wheat;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}
.ment_btn:hover{
    box-shadow: inset 2px 2px 6px  #e2d8dae3, inset 10px 6px 20px rgba(0, 0, 0, 0.05);
}
.qrcode-container{
    position: absolute;
    width: 280px;
    height: 320px;
    background: white;
    bottom: 0;
}
.qrcode{
    position: absolute!important;
    left: 12px!important;
    top: 12px!important;
}
.qrcode-tittle{
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #ff00008c;
    width: 280px;
    padding: 5px;
}
.tree-tittle{
    color: white;
    padding: 0 20px;
}